* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

/* --- Header --- */
header {
  margin: 80px 30px;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: none;
}

/* --- main & body ---*/
body {
  background-color: #f3eadc;
}

/* --- tekst ---*/
a {
  font-family: "instrument sans", sans-serif;
  color: #393840;
}

h1 {
  font-family: "montserrat", sans-serif;
}

h2 {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "lexend", sans-serif;
  color: #393840;
  margin-left: 30px;
}
h3 {
  font-family: "lexend", sans-serif;
  color: #393840;
  font-size: 25px;
}
p {
  font-family: "instrument sans", sans-serif;
  color: #393840;
  font-size: 15px;
}

/* --- index --- */

.category_list_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
}

.category_list_container a {
  font-size: 20px;
  font-family: "instrument sans", sans-serif;
  text-decoration: none;
  color: #f2f2f2;
}
.category_list_container .categoryy:hover {
  background-color: #e3b5b5;
  color: #594842;
  border-color: #594842;
}

.categoryy {
  display: grid;
  background-color: #736c6a;
  text-align: center;
  padding: 50px;
  gap: 50px;
}

/* --- productlist --- */
.product-list-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px;
}
.product-card {
  display: grid;
  padding: 30px;
  background-color: #fffaf4;
  gap: 10px;
  margin: 20px;
}
.productdisplayname {
  font-weight: 600;
}

.product-card h3 {
  margin-top: 10px;
}

.product-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.category {
  font-size: 12px;
}
.price {
  padding-top: 30px;
}
/* buy now knap */
.productsite {
  display: inline-block;
  margin-top: 20px;
  border: 2px solid;
  border-color: #736d6c;
  background-color: #736d6c;
  padding: 10px;
  color: #f2f2f2;
  text-decoration: none;
  text-align: center;
}

.productsite:hover {
  background-color: #e3b5b5;
  color: #594842;
}

/* --- sale product --- */
.sale-product {
  position: relative;
}

.sale-product img {
  display: block;
}
.centered {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;

  font-weight: bold;
  color: #393840;
  background: #ffe3b0ce;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

/* --- soldout product --- */
.soldout-product {
  position: relative;
}

.soldout-product img {
  display: block;
}

.blured {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-weight: bold;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- product --- */
.card {
  display: block;
  gap: 20px;
  padding: 30px;
  background-color: #fffaf4;
  margin: 60px;
}
.product h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.product .productdisplayname {
  margin-bottom: 100px;
}

.productinfo {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat (4, 1fr);
  background-color: #f3eadc;
  padding: 10px;
}

.price {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.5px;
}
.button {
  margin: 20px 0;
  align-items: center;
}
.description {
  font-weight: 600;
  line-height: 25px;
}

.datadescription {
  line-height: 25px;
}
@media (min-width: 860px) /*and (max-width: 1200px) */ {
  .nav {
    display: inline-flex;
    width: 150px;
    text-align: center;
    list-style: none;
    gap: 20px;
  }
  .nav a {
    color: #393840;
    text-decoration: none;
  }

  .nav a:hover {
    color: #934967;
    border-bottom: #934967 1px solid;
    padding: 10px;
  }

  /* --- index --- */
  .category_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  #category {
    display: grid;
    grid-template-rows: span 2;
    text-align: center;
  }

  /* --- productlist --- */
  .product-list-container {
    margin: auto;
    gap: 20px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  /* --- product --- */

  .product img {
    max-width: 250px;
    width: 100%;
    height: auto;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: start;
  }
  .block {
    display: block;
  }

  button {
    grid-column: 2;
    margin-top: 30px;
    width: 200px;
  }
  .price {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
  }
}
